{{ define "base" }}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ template "title" . }} </title>

	<!--Like the CSS and favicon to the base page>
	<link rel='stylesheet' href='internal/ui/static/css/main.css'>
    <link rel='shortcut icon' href='internal/ui/static/img/favicon.ico' type='image/x-icon'>
    <!-- Also link to some fonts hosted by Google -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
</head>
<body>
	<header>
        <h1><a href="/">SnippetBox</a></h1>
	</header>
		    {{ template "nav" . }}
	<main>
		{{ template "main" . }}
	</main>
	<footer>
		Powered by <a href="https://golang.org/">Go</a>
	</footer>
</body>
</html>
{{ end }}
